@import 'reset';


/*=================================
  Header styling starts here
=================================*/

h1 {
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
}

.game {
    max-width: 700px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    flex-basis: 30%;
}




/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/








/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  