@import 'reset';


/*=================================
  Header styling starts here
=================================*/

h1 {
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
}

.game {
    max-width: 700px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    flex-basis: 30%;
    height: 200px;
    // width: 300px;
    // background-image: url('../images/1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.done {
    border: 2px solid rgb(80, 168, 80);
}


/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/








/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  